wip-results/

# Do not add archives of docker images to repo
botrandom-*.tar
botrandom-*.tar.gz

# Prevent snapshots to be added to the repository
results/*/snapshots/**/*.json

# Allow to add snapshots as ZIP archives
!results/*/snapshots/*.zip
